version: "3"

services:
  server:
    image: rundeck/rundeck:5.18.0
    container_name: rundeck
    restart: always
    ports:
      - 4440:4440
    environment:
      RUNDECK_GRAILS_URL: https://run.hentioe.dev
      RUNDECK_SERVER_FORWARDED: true
    volumes:
      - ./data:/home/rundeck/server/data
      - ./realm.properties:/home/rundeck/server/config/realm.properties
      - ./nodes:/nodes

  db:
    image: postgres:16
    restart: always
    volumes:
      - ./db_data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: rundeck
